{{- if and .Values.heimdall.ingress.enabled -}}
{{- $kubeVersion := .Capabilities.KubeVersion.GitVersion   -}}
{{- if semverCompare ">=1.14-0" $kubeVersion -}}
{{- $fullName := include "heimdall.fullname" . -}}
{{- if semverCompare ">=1.19-0" $kubeVersion -}}
apiVersion: networking.k8s.io/v1
{{- else if semverCompare ">=1.14-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1beta1
{{- end }}
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
    {{- include "heimdall.labels" . | nindent 4 }}
  {{- with .Values.heimdall.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
{{- if .Values.heimdall.ingress.tls }}
  tls:
  {{- range .Values.heimdall.ingress.tls }}
    - hosts:
      {{- range .hosts }}
        - {{ . | quote }}
      {{- end }}
      secretName: {{ .secretName }}
  {{- end }}
{{- end }}
  {{- if .Values.heimdall.ingress.ingressClassName }}
  ingressClassName: {{ .Values.heimdall.ingress.ingressClassName }}
  {{- end }}
  rules:
  {{- range .Values.heimdall.ingress.hosts }}
    - host: {{ .host | quote }}
      http:
        paths:
        {{- range .paths }}
          - path: {{ .path }}
            pathType: {{ .pathType }}
            backend:
              service:
                name: {{ .backend.service.name }}
                port:
                  number: {{ .backend.service.port.number }}

    {{- end }}
  {{- end }}
{{- end }}
{{- end }}
